<IfModule mod_rewrite.c>
    RewriteEngine On

	DirectoryIndex index.php index.html

    ### English ###
    RewriteRule ^([a-z-]+)/?$ bookwith.php?p=$1
    RewriteRule ^([a-z-]+)/email?$ formemail.php?p=$1
    RewriteRule ^([a-z-]+)/chat?$ formchat.php?p=$1
    RewriteRule ^([a-z-]+)/videoconference?$ formvideoconference.php?p=$1
    RewriteRule ^([a-z-]+)/phone?$ formphone.php?p=$1


    ### Spanish ###

</IfModule>
