<IfModule mod_rewrite.c>
    RewriteEngine On

	DirectoryIndex index.php index.html

	RewriteBase /cn

    ### Chinese ###
    RewriteRule ^([a-z-]+)$ /cn/bookwith.php?p=$1
    RewriteRule ^([a-z-]+)/email$ /cn/formemail.php?p=$1 [L]
    RewriteRule ^([a-z-]+)/chat$ /cn/formchat.php?p=$1 [L]
    RewriteRule ^([a-z-]+)/videoconference$ /cn/formvideoconference.php?p=$1 [L]
    RewriteRule ^([a-z-]+)/phone$ /cn/formphone.php?p=$1 [L]

    ## HTTPS FORMS ##
    RewriteCond %{HTTPS} off
    RewriteRule ^cnformcustomerservice.php$ cn/cnformcustomerservice.php
</IfModule>